<!-- <div *ngFor="let itVolunteer of itVolunteers">
  {{itVolunteer.name}}
  <div *ngFor="let reportTol1 of itVolunteer.reportTo">
    ---{{reportTol1.name}}
    <div *ngFor="let reportTol2 of reportTol1.reportTo">
      ------{{reportTol2.name}}
    </div>
  </div>
</div> -->

<!-- <div *ngFor="let a of itVolunteers2">
  {{a.name}}
</div>
 -->

 <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <!-- use a disabled button to provide padding for tree leaf -->
    <button mat-icon-button disabled></button>
    {{node.name}}
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.name">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    {{node.name}}
  </mat-tree-node>
</mat-tree>